{% set ip_address = ansible_default_ipv4.address + "/" + ansible_default_ipv4.netmask %}
frr version 7.1
frr defaults traditional
hostname {{inventory_hostname}}
log syslog informational
no ip forwarding
no ipv6 forwarding
service integrated-vtysh-config
!
router ospf
 ospf router-id {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
{% if loopback_ipv4_dns1 is defined  %}
 network {{ loopback_ipv4_dns1 }} area 0.0.0.0
{% endif %}
 network {{ ip_address | ipaddr('network/prefix') }} area 0.0.0.0
!
router ospf6
 ospf6 router-id {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
{% if loopback_ipv6_dns1 is defined  %}
 area 0.0.0.0 range {{ loopback_ipv6_dns1 }}
{% endif %}
 interface eth0 area 0.0.0.0
 interface lo area 0.0.0.0
!
line vty
!
